<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css" />
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/dataMap.css" />
	<link rel="stylesheet" href="lib/kline/kline.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/LeveragedDeals.css" /> -->
</head>
<style>
	.header{
		border: none;
	}
.tab_list{
	display: none;
	padding-bottom: 20px;
}
div#header div.CNY ul {
    list-style: none;
    width: 40%;
}
div#header div.CNY div h4 span.red{
	color: #ff3e60;
}
.red{
	color: #ff3e60!important;
}
.return{
	width: 20px;
}
select{
	background-color: #131f30;
	color: #fff;
	border: 1px solid #f1f1f1;
	padding: 5px 10px;
	border-radius: 2px;
}
.header .pull-right{
	margin: 0!important;
}
.tabs-data-map{
	border: none;
}
.tabs-data-map img{
	width: 20px!important;
	position: relative;
	top: 3px;
	margin: -10px 5px 0 0!important;
}
.bg_active{
	background: #f4f8fb;
}
.coinname{
	font-weight: bold;
}

</style>

<body>
	<div id="app" v-cloak>
		<div id="header">
			<!-- <div class='header'>
				<p class="pull-left">
					<img @click="goback" class="return" src="images/return1.png" alt="">
					<span class="tabs-data-map">
						<b class="coinname ft20">{{symbol.name}}</b>
					</span>

				</p>
			</div> -->
			<div class="CNY flex between">
				<!-- <p class="white mt10 ft16">可用余额：{{balance}} {{legal_name}}</p> -->
				<div class="pull-left">
					<h2 :class="['new-price',{'red': updown.substring(0,1) == '-'}]">{{newprice | toFixed4}}</h2>
					<h4 class="flex alcenter mt5">
						<!-- <span class="ft12 colorGrey">≈ {{rates * newprice || '0.00' | toFixeds}}CNY</span> -->
						<!-- <span class="ft12" style="margin-left:5px" :class="['updown',{'red': updown < 0}]">{{updown | toFixed4 || '0.00'}}%</span> -->
						<span class="ft12" style="margin-left:5px" :class="['updown',{'red': updown < 0}]">{{updown | toFixed4}}%</span>
					</h4>
				</div>
				<ul class="pull-right ft12 colorGrey">
					<li class="flex alcenter between">
						<p>高</p><span class="max-price">{{maxprice | toFixed4}}</span>
					</li>
					<li class="flex alcenter between">
						<p>低</p><span class="min-price">{{minprice | toFixed4}}</span>
					</li>
					<li class="flex alcenter between">
						<p>24H量</p><span class="dayVom">{{dayvom | toFixed4}}</span>
					</li>
				</ul>

			</div>
		</div>
		<div id="tv_chart_container" style="width:100%;height:100.0vh;margin-top: 5px;padding-bottom: 80px;"></div>
		<!-- <div id="bottom" class="flex between">
			<button class="goTranbuy">买入</button>
			<button class="goTransell">卖出</button>
		</div> -->
		<!-- 买入卖出弹窗 -->
		<div class="data-modal white">
			<div class="modal-headers flex">
				<p>{{sellType=='buy'?'买入':'卖出'}}{{symbol}}</p>
				<p :class="['new-price ml20',{'red': updown.substring(0,1) == '-'}]">{{newprice | toFixed4}}</p>
			</div>
			<div>
				<div class="tab flex between">
					<p class="tc" @click="selectTab(1)"><span :class="[{'active':formList.selectStatus==1}]">市价</span></p>
					<p class="tc" @click="selectTab(0)"><span :class="[{'active':formList.selectStatus==0}]">限价</span></p>
				</div>
				<div class="mt10 controls" v-show="formList.selectStatus == 0">
					<input class="control" type="text" v-model="formList.control" @input="changes" placeholder="请输入价格">
				</div>
			</div>
			<div class="muit">
				<p class="mt10">倍数</p>
				<select name="" id="muit" v-model="formList.muilValue">
					<option v-for="item in multipleList.muit" :value="item.value">{{item.value}}</option>
				</select>
			</div>
			<div class="share">
				<div>
					<p class="mt10">数量</p>
					<div class="flex between">
						<select id="share" v-model="formList.share">
							<option v-for="item in multipleList.share" :value="item.value">{{item.value}}</option>
						</select>
						<input class="share-num" v-model="formList.share" type="text" placeholder="请输入数量">
					</div>

				</div>
				<div class="tr texts">
					<p class="mt10">1手等于：{{formList.shareNum || '0.00' |toFixed4}}</p>
					<p>最小下单数量：{{formList.shareMin}}</p>
					<p>合约数值：≈{{formList.prices >0?(formList.prices-0)*(formList.share-0) * (formList.shareNum - 0):'0.00' || '0.00'
						|toFixed4}} {{legal_name}}</p>
					<p>保证金：≈{{formList.prices >0?((formList.prices-0)*(formList.share-0) * (formList.shareNum - 0)
						-0)/(formList.muilValue -0):'0.00' || '0.00'
						|toFixed4}} {{legal_name}}</p>
					<p>交易手续费：≈{{formList.prices >0?((formList.prices-0)*(formList.share-0) * (formList.shareNum - 0)
						-0)*(formList.free -0):'0.00' || '0.00'
						|toFixed4}} {{legal_name}}</p>
				</div>
			</div>
		</div>
		<div id="sideColumn" class="bgColor">
			<h4>
			</h4>
			<div class="ft20 bold bdb pl20 texts-lever">合约</div>
			<ol class="tabs hide">
				<li class="currency_name side side2" data-id="3">USDT</li>
			</ol>
			<ul class="ul">
				<li v-for="item in currencyList" :key="item.id" v-if="item.is_display == 1" :class="['legal_name flex between',{'bg_active':currency_id==item.currency_id}]"
				 @click="selectCurrencys(item.legal_id,item.currency_id,item.legal_name,item.currency_name)">
					<strong><span>{{item.currency_name}}</span><b>/{{item.legal_name}}</b></strong>
					<p :class="['fontC',{'gre':item.now_price>=0}]">
						<span>{{item.now_price || '0.00' | toFixed4}}</span>
					</p>
				</li>
			</ul>
		</div>
		<div id="mask1" @click="closeLeft">
			<div id="Limited" style="display: none;">
				<ul>
					<li></li>
					<li class="cancel">取消</li>
				</ul>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://js.cdn.aliyun.dcloud.net.cn/dev/uni-app/uni.webview.1.5.1.js"></script>
	<script src="lib/vue.min.js"></script>
	<!-- <script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script> -->
	 <script src="./lib/jquery.js"></script>
	<script src="javascripts/jquery.cookie.js"></script>
	<script src="lib/layer_mobile/layer.js"></script>
	<script src="javascripts/main.js"></script>
	<script src="javascripts/socket.io.js"></script>
	<!-- <script type="text/javascript" src="javascripts/dataMap.js"></script> -->
	<script src="tradeview/charting_library/charting_library.min.js"></script>
	<script>
		// document.addEventListener('UniAppJSBridgeReady', function() {
		// 	document.getElementById("buy").addEventListener("click", function(){
		// 		uni.postMessage({  
		// 			data: {symbol:symbol, type: 1}
		// 		});  
		// 		setTimeout( () => {
		// 			uni.switchTab({
		// 				url:"/pages/trade/main"
		// 			})
		// 		}, 500);
		// 	});
		//     document.getElementById("sell").addEventListener("click", function(){
		//     	uni.postMessage({  
		//     		data: {symbol:symbol, type: 2}
		//     	});  
		//     	setTimeout( () => {
		//     		uni.switchTab({
		//     			url:"/pages/trade/main"
		//     		})
		//     	}, 500);
		//     });
		//     uni.getEnv(function(res) {
		//         console.log('当前环境：' + JSON.stringify(res));
		//     });
		// 
			$(function () {
				window.name1 = '', window.name2 = '', window.coin_names = '';
				var url = 'timeshar';
				var params = get_all_params()
				var legal_id = params.legal_id;
				var currency_id = params.currency_id;
				var names2 = params.symbol.split('/');
				window.name1 = names2[1];
				window.name2 = names2[0];
				var token = get_user_login();
				//点击买入
				$('.goTranbuy').click(function () {
					location.href = 'LeveragedDeals.html?id1=' + legal_id + '&id2=' + currency_id + '&name1=' + name1 + '&name2=' +
						name2 + '&type=1';
					setlocal_storage('levertype', 'buy');
					setlocal_storage('lever', {
						"currency_name": name2,
						"currency_id": currency_id,
						"legal_name": name1,
						"legal_id": legal_id,
						"share_num": ''
					});
				})
				//点击卖出
				$('.goTransell').click(function () {
					location.href = 'LeveragedDeals.html?id1=' + legal_id + '&id2=' + currency_id + '&name1=' + name1 + '&name2=' +
						name2 + '&type=2';
					setlocal_storage('levertype', 'sell');
					setlocal_storage('lever', {
						"currency_name": name2,
						"currency_id": currency_id,
						"legal_name": name1,
						"legal_id": legal_id,
						"share_num": ''
					});
				})
			});
		
			var vm = new Vue({
			el: '#app',
			data: {
				widget: null,
				symbolInfo: null,
				feed: null,
				wsEx: null,
				ws: null,
				lists: [],
				newData: '',
				symbol: '',
				priceScale: 100000,
				histime: '',
				newprice: '0.00',
				updown: '0.00',
				maxprice: '0.00',
				minprice: '0.00',
				dayvom: '0.00',
				currencyList: [],
				couponSelected: '',
				legal_id: get_param('legal_id') || 12,
				currency_id: get_param('currency_id') || 4,
				sellType: 'buy',
				multipleList: [],
				legal_name: '',
				formList: {
					selectStatus: 1,
					share: '',
					shareNum: '',
					muilValue: $('.muit option:selected').val(),
					bond: '0.00',
					shareMin: '',
					shareMax: '',
					marketText: '0.00',
					spread: '',
					free: '',
					freeText: '0.00',
					prices: '0.00',
					control: ''
				},
				balance: '',
				rates: ''


			},
			filters: {
				toFixeds: function (value) {
					value = Number(value);
					return value.toFixed(2);
				},
				toFixeds1: function (value) {
					value = Number(value);
					return value.toFixed(8);
				},
				toFixed4: function (value, options) {
					value = Number(value);
					return value.toFixed(4);
				}
			},
			created() {
				var that = this;
				var paramsed = get_all_params();
				that.symbol = paramsed.symbol || 'PCD/USDT';
				that.init();
				document.title = that.symbol;   //设置标题
			},
			
			computed: {
				listenState() { //监听交易对
					return this.symbol;
				}
			},
			watch: {
				listenState: function (a, b) { //监听交易对
					if (a != b && b != '') {
						this.widget.setSymbol(a, localStorage.getItem('tim'), function onReadyCallback() {}) //切换币种
					}
				}
			},
			mounted() {
				this.createWidget();
				// this.connects();

			},
			destroyed() {
				this.removeWidget();
			},
			beforeDestroy() {
			},
			methods: {
				goback(){
					uni.switchTab({
						url:'/pages/trade/mine'
					})
				},
				init() {
					var that = this;
					initDatas({
						url: 'quotation_new'
					}, function (res) {
						if (res.type == 'ok') {
							var data1 = res.message;
							for (var i = 0; i < data1.length; i++) {
								if (data1[i].id == that.legal_id) {
									var data2 = data1[i].quotation;
									that.currencyList = data2;
									for (var j = 0; j < data2.length; j++) {
										if (that.currency_id == data2[j].currency_id) {
											that.rates = data2[j].rmb_relation;
											that.couponSelected = data2[j].currency_name + '/' + data2[j].legal_name;
											that.formList.spread = data2[j].spread;
											that.formList.free = data2[j].lever_trade_fee;
											that.formList.shareNum = data2[j].lever_share_num;
											that.legal_name = data2[j].legal_name;
										}
									}
								}
							}
						}
					})
					initDataTokens({
						url: 'lever/deal',
						type: 'post',
						data: {
							legal_id: that.legal_id,
							currency_id: that.currency_id
						}
					}, function (res) {
						if (res.type == 'ok') {
							that.newprice = res.message.last_price;
							if (res.message.multiple) {
								that.multipleList = res.message.multiple;
								that.formList.share = res.message.multiple.share[0].value;
								that.formList.shareMin = res.message.lever_share_limit.min;
								that.formList.shareMax = res.message.lever_share_limit.max;
								that.formList.muilValue = res.message.multiple.muit[0].value;
							}
							that.balance = res.message.user_lever;
						}
					})
				},
				selectCurrencys(legalId, currencyId, legalName, currencyName) {
					var that = this;
					that.legal_id = legalId;
					that.currency_id = currencyId;
					that.symbol = currencyName + '/' + legalName;
					that.legal_name = legalName;
					$('#mask1').hide();
					$('#sideColumn').animate({
						left: '-70%'
					}, 100);
					that.init();
					that.createWidget();
					// that.connects();

				},

				// 选择币种
				selectedCurrency(val) {
					var that = this;
					that.currency_id = $('#symbols option:selected').val();
					for (var i = 0; i < that.currencyList.length; i++) {
						if (that.currency_id == that.currencyList[i].currency_id) {
							that.legal_id = that.currencyList[i].legal_id;
							that.symbol = that.currencyList[i].currency_name + '/' + that.currencyList[i].legal_name;
							that.legal_name = that.currencyList[i].legal_name;
							$('#mask1').hide();
							$('#sideColumn').animate({
								left: '-70%'
							}, 100);
							that.createWidget();
							that.init();
							// that.connects();


						}
					}

				},
				// 选择交易类型
				selectTab(typeText) {
					var that = this;
					that.formList.selectStatus = typeText;
					if (typeText == 0) {
						that.formList.control = '';
						that.formList.prices = 0.00;
						$('.controls').show();
					} else {
						if (that.sellType == 'sell') {
							that.formList.prices = (that.newprice - 0) - (that.formList.spread - 0);
						} else {
							that.formList.prices = (that.newprice - 0) + (that.formList.spread - 0);
						}
						$('.controls').hide();
					}
				},
				// 购买或者出售
				buyBtn(types) {
					var that = this;
					that.sellType = types;
					if (types == 'sell' && that.formList.selectStatus == 1) {
						that.formList.prices = (that.newprice - 0) - (that.formList.spread - 0);
					} else if (types == 'sell' && that.formList.selectStatus == 0) {
						that.formList.prices = ($('.control').val() - 0) - (that.formList.spread - 0)
					} else if (types == 'buy' && that.formList.selectStatus == 1) {
						that.formList.prices = (that.newprice - 0) + (that.formList.spread - 0);
					} else if (types == 'buy' && that.formList.selectStatus == 0) {
						that.formList.prices = ($('.control').val() - 0) + (that.formList.spread - 0);
					}
					layer.open({
						type: 1,
						content: $('.data-modal'),
						title: '<img class="modal-logo" src="images/modal-logo.png" alt="">',
						skin: 'modals btn-text',
						area: ['80%', 'auto'],
						btn: ['提交'],
						yes: function (index) {
							layer.close(index);
							var data = {
								share: that.formList.share,
								multiple: that.formList.muilValue,
								legal_id: that.legal_id,
								currency_id: that.currency_id,
								type: types == 'buy' ? 1 : 2,
								status: that.formList.selectStatus,
								target_price: that.formList.control,
							}
							layer_confirm2('确认要下单吗？', '下单', function () {
								initDataTokens({
									url: 'lever/submit',
									type: 'post',
									data: data
								}, function (res) {
									layer_msg(res.message);
									if (res.type == 'ok') {
										setTimeout(function () {
											location.href = "leverList.html";
										}, 500)
									}
								})

							})
						}

					})

				},
				showLeft() {
					var that = this;
					$('#mask1').show();
					$('#sideColumn').animate({
						left: '0'
					}, 100);
				},
				closeLeft() {
					var that = this;
					$('#mask1').hide();
					$('#sideColumn').animate({
						left: '-70%'
					}, 100);
				},
				changes() {
					var that = this;
					if (that.sellType == 'sell') {
						that.formList.prices = (that.formList.control - 0) - (that.formList.spread - 0);
					} else {
						that.formList.prices = (that.formList.control - 0) + (that.formList.spread - 0);
					}
				},
				// 默认
				connect(real) { //封装推送数据
				// console.log('aaaa')
					var that = this;
					// alert(socket_api);
					var socketio = io('http://www.bl123789.com:2000')
					var socket_user_id = (new Date()).getTime();
					socketio.emit('login', socket_user_id);
					socketio.on('kline', function (msg) {
						console.log(msg.period);
						console.log(localStorage.getItem('type'))
						if (msg.type == 'kline') {
							let obj = {}
							let type = localStorage.getItem('type')
							if ( msg.period == type) {
								
								obj.open = Number(msg.open)
								obj.low = Number(msg.low)
								obj.high = Number(msg.high)
								obj.close = Number(msg.close)
								obj.volume = Number(msg.vol)
								obj.time = Number(msg.time)
								if (msg.period == '1day') {
										// alert(1);
									console.log(123);
									that.newprice = msg.close-0
									that.maxprice = msg.high-0
									that.minprice = msg.low-0
									// console.log(msg.period);
									that.dayvom = Number(msg.vol).toFixed(4);
									that.updown = ((msg.close-msg.open)/(msg.close-0)*100).toString();
								}
								real(obj)
							}
						}
					});
				},
				connects() { //封装推送数据
					var that = this;
					var socketio = io('http://www.bl123789.com:2000');
					console.log(socket_api)
					var socket_user_id = (new Date()).getTime();
					socketio.emit('login', socket_user_id);
					socketio.on('daymarket', function (msg) {
						console.log(msg)
						if (msg.type == 'daymarket') {
							let obj = {}
							if (that.symbol == msg.symbol) {
								that.newprice = msg.close
								that.maxprice = msg.high
								that.minprice = msg.low
								that.dayvom = Number(msg.vol).toFixed(4);
								that.updown = msg.change;
								// if (msg.period == '1day') {
								// 	console.log(msg.period);
								// 	that.dayvom = Number(msg.vol).toFixed(4);
								// 	that.updown = (msg.close-msg.open)/(msg.close-0)*100;
								// }
							}
						}
					});
				},
				createWidget() {
					console.log('fafafafafaf')
					let _this = this;

					this.$nextTick(function () {
						let widget = _this.widget = new TradingView.widget({
							symbol: _this.symbol,
							interval: 1,
							debug: true,
							fullscreen: false,
							autosize: true,
							container_id: "tv_chart_container",
							// datafeed: new Datafeeds.UDFCompatibleDatafeed("http://demo_feed.tradingview.com"),
							datafeed: _this.createFeed(),
							library_path: "tradeview/charting_library/",
							custom_css_url: 'bundles/new.css',
							locale: "zh",
							width: "100%",
							height: 516,
							drawings_access: {
								type: 'black',
								tools: [{
									name: "Regression Trend"
								}]
							},
							disabled_features: [ //  禁用的功能
								'left_toolbar', 'widget_logo', 'header_saveload', 'compare_symbol', 'display_market_status',
								'go_to_date', 'header_chart_type', 'header_compare', 'header_interval_dialog_button',
								'header_resolutions', 'header_screenshot', 'header_symbol_search', 'header_undo_redo',
								'legend_context_menu', 'show_hide_button_in_legend', 'show_interval_dialog_on_key_press',
								'snapshot_trading_drawings', 'symbol_info', 'timeframes_toolbar', 'use_localstorage_for_settings',
								'volume_force_overlay'
							],
							enabled_features: [ //  启用的功能（备注：disable_resolution_rebuild 功能用于控制当时间范围为1个月时，日期刻度是否都是每个月1号
								'dont_show_boolean_study_arguments', 'hide_last_na_study_output', 'move_logo_to_main_pane',
								'same_data_requery', 'side_toolbar_in_fullscreen_mode', 'disable_resolution_rebuild'
							],
							charts_storage_url: 'http://saveload.tradingview.com',
							charts_storage_api_version: "1.1",
							toolbar_bg: "transparent",
							timezone: "Asia/Shanghai",
							studies_overrides: {
								'volume.precision': '1000'
							},
							overrides: _this.overrides()
						});

						widget.MAStudies = [];
						widget.selectedIntervalButton = null;
						// widget.setLanguage('en')
						widget.onChartReady(function () { //图表方法
							// document.getElementById('trade-view').childNodes[0].setAttribute('style', 'display:block;width:100%;height:100%;');
							//let that =this

							widget.chart().createStudy('Moving Average', false, true, [15, 'close', 0], null, {
								'Plot.color': '#e843da'
							});
							widget.chart().createStudy("MA Cross", false, false, [10, 20]);

							let buttonArr = [{
									value: "1min",
									period: "1",
									text: "分时",
									chartType: 3,
									type:"1min"
								},
								{
									value: "1",
									period: "1m",
									text: "1分钟",
									chartType: 1,
									type:"1min"
								},
								{
									value: "5",
									period: "5m",
									text: "5分钟",
									chartType: 1,
									type:"5min"
								},
								{
									value: "30",
									period: "30m",
									text: "30分钟",
									chartType: 1,
									type:"30min"
								},
								{
									value: "60",
									period: "60分钟",
									text: "1小时",
									chartType: 1,
									type:"60min"
								},
								{
									value: "1D",
									period: "1D",
									text: "1天",
									chartType: 1,
									type:"1day"
								},
								{
									value: "1W",
									period: "1W",
									text: "1周",
									chartType: 1,
									type:"1week"
								},
								{
									value: "1M",
									period: "1M",
									text: "1月",
									chartType: 1,
									type:"1mon"
								}
							];
							let btn = {};
							let nowTime = '';
							buttonArr.forEach((v, i) => {
								let button = widget.createButton()
								button.attr('title', v.text)
									.addClass("my2")
									.text(v.text)

								if (v.text == '1分钟') {
									button.css({
										'color': '#218bde',
										'border-bottom': '1px solid #218bde'
									})
									localStorage.setItem('tim', '1min') //默认为1分钟
									localStorage.setItem('type', '1min') //默认为1分钟
								}
								btn = button.on("click", function (e) {
									$(this).parents(".left").children().find(".my2").removeAttr("style"); //去掉1分钟的
									handleClick(e, v.value,v.type);

									widget.chart().setChartType(v.chartType); //改变K线类型
								});


							});
							if (localStorage.getItem('tim') == '1min') {
								widget.chart().setChartType(1);
							}
							let handleClick = (e, value,type) => {
								_this.setSymbol = function (symbol, value) {
									gh.chart().setSymbol(symbol, value);
								};
								localStorage.setItem('tim', value);
								localStorage.setItem('type', type) //默认为1分钟
								widget.chart().setResolution(value, function onReadyCallback() {}); //改变分辨率

								$(e.target)
									.addClass("mydate")
									.closest("div.space-single")
									.siblings("div.space-single")
									.find("div.button")
									.removeClass("mydate")
							};

						});


						_this.widget = widget;
					})
				},
				createFeed() {
					let this_vue = this;
					let Datafeed = {};


					Datafeed.DataPulseUpdater = function (datafeed, updateFrequency) {
						this._datafeed = datafeed;
						this._subscribers = {};

						this._requestsPending = 0;
						var that = this;

						var update = function () {
							if (that._requestsPending > 0) {
								return;
							}

							for (var listenerGUID in that._subscribers) {
								var subscriptionRecord = that._subscribers[listenerGUID];
								var resolution = subscriptionRecord.resolution;

								var datesRangeRight = parseInt((new Date().valueOf()) / 1000);


								//	BEWARE: please note we really need 2 bars, not the only last one
								//	see the explanation below. `10` is the `large enough` value to work around holidays
								var datesRangeLeft = datesRangeRight - that.periodLengthSeconds(resolution, 10);

								that._requestsPending++;

								(function (_subscriptionRecord) { // eslint-disable-line
									that._datafeed.getBars(_subscriptionRecord.symbolInfo, resolution, datesRangeLeft, datesRangeRight,
										function (bars) {
											that._requestsPending--;

											//	means the subscription was cancelled while waiting for data
											if (!that._subscribers.hasOwnProperty(listenerGUID)) {
												return;
											}

											if (bars.length === 0) {
												return;
											}

											var lastBar = bars[bars.length - 1];
											if (!isNaN(_subscriptionRecord.lastBarTime) && lastBar.time < _subscriptionRecord.lastBarTime) {
												return;
											}

											var subscribers = _subscriptionRecord.listeners;

											//	BEWARE: this one isn't working when first update comes and this update makes a new bar. In this case
											//	_subscriptionRecord.lastBarTime = NaN
											var isNewBar = !isNaN(_subscriptionRecord.lastBarTime) && lastBar.time > _subscriptionRecord.lastBarTime;

											//	Pulse updating may miss some trades data (ie, if pulse period = 10 secods and new bar is started 5 seconds later after the last update, the
											//	old bar's last 5 seconds trades will be lost). Thus, at fist we should broadcast old bar updates when it's ready.
											if (isNewBar) {
												if (bars.length < 2) {
													throw new Error('Not enough bars in history for proper pulse update. Need at least 2.');
												}

												var previousBar = bars[bars.length - 2];
												for (var i = 0; i < subscribers.length; ++i) {
													subscribers[i](previousBar);
												}
											}

											_subscriptionRecord.lastBarTime = lastBar.time;

											for (var i = 0; i < subscribers.length; ++i) {
												subscribers[i](lastBar);
											}
										},

										//	on error
										function () {
											that._requestsPending--;
										});
								})(subscriptionRecord);
							}
						};

						if (typeof updateFrequency != 'undefined' && updateFrequency > 0) {
							setInterval(update, updateFrequency);
						}
					};

					Datafeed.DataPulseUpdater.prototype.periodLengthSeconds = function (resolution, requiredPeriodsCount) {
						var daysCount = 0;

						if (resolution === 'D') {
							daysCount = requiredPeriodsCount;
						} else if (resolution === 'M') {
							daysCount = 31 * requiredPeriodsCount;
						} else if (resolution === 'W') {
							daysCount = 7 * requiredPeriodsCount;
						} else {
							daysCount = requiredPeriodsCount * resolution / (24 * 60);
						}

						return daysCount * 24 * 60 * 60;
					};

					Datafeed.DataPulseUpdater.prototype.subscribeDataListener = function (symbolInfo, resolution, newDataCallback,
						listenerGUID) {
						this._datafeed._logMessage('Subscribing ' + listenerGUID);

						if (!this._subscribers.hasOwnProperty(listenerGUID)) {
							this._subscribers[listenerGUID] = {
								symbolInfo: symbolInfo,
								resolution: resolution,
								lastBarTime: NaN,
								listeners: []
							};
						}

						this._subscribers[listenerGUID].listeners.push(newDataCallback);
					};

					Datafeed.DataPulseUpdater.prototype.unsubscribeDataListener = function (listenerGUID) {
						this._datafeed._logMessage('Unsubscribing ' + listenerGUID);
						delete this._subscribers[listenerGUID];
					};

					Datafeed.Container = function (updateFrequency) {
						this._configuration = {
							supports_search: false,
							supports_group_request: false,
							supported_resolutions: ['1', '3', '5', '15', '30', '60', '120', '240', '360', '720', '1D', '3D', '1W', '1M'],
							supports_marks: true,
							supports_timescale_marks: true,
							exchanges: ['gh']
						};

						this._barsPulseUpdater = new Datafeed.DataPulseUpdater(this, updateFrequency || 10 * 1000);
						// this._quotesPulseUpdater = new Datafeed.QuotesPulseUpdater(this);

						this._enableLogging = true;
						this._callbacks = {};

						this._initializationFinished = true;
						this._fireEvent('initialized');
						this._fireEvent('configuration_ready');
					};

					Datafeed.Container.prototype._fireEvent = function (event, argument) {
						if (this._callbacks.hasOwnProperty(event)) {
							var callbacksChain = this._callbacks[event];
							for (var i = 0; i < callbacksChain.length; ++i) {
								callbacksChain[i](argument);
							}

							this._callbacks[event] = [];
						}
					};

					Datafeed.Container.prototype._logMessage = function (message) {
						if (this._enableLogging) {
							var now = new Date();
						}
					};

					Datafeed.Container.prototype.on = function (event, callback) {
						if (!this._callbacks.hasOwnProperty(event)) {
							this._callbacks[event] = [];
						}

						this._callbacks[event].push(callback);
						return this;
					};

					Datafeed.Container.prototype.onReady = function (callback) {
						let that = this;
						if (this._configuration) {
							setTimeout(function () {
								callback(that._configuration);
							}, 0);
						} else {
							this.on('configuration_ready', function () {
								callback(that._configuration);
							});
						}
					};

					Datafeed.Container.prototype.resolveSymbol = function (symbolName, onSymbolResolvedCallback,
						onResolveErrorCallback) {
						this._logMessage("GOWNO :: resolve symbol " + symbolName);
						Promise.resolve().then(() => {


							// this._logMessage("GOWNO :: onResultReady inject "+'AAPL');
							onSymbolResolvedCallback({
								"name": this_vue.symbol,
								"timezone": "Asia/Shanghai",
								"pricescale": this_vue.priceScale,
								"minmov": 1, //minmov(最小波动), pricescale(价格精度), minmove2, fractional(分数)
								"minmov2": 0, //这是一个神奇的数字来格式化复杂情况下的价格。
								"ticker": this_vue.symbol,
								"description": "",
								"type": "bitcoin",
								"volume_precision": 8,
								// "exchange-traded": "sdt",
								// "exchange-listed": "sdt",
								//现在，这两个字段都为某个交易所的略称。将被显示在图表的图例中，以表示此商品。目前此字段不用于其他目的。
								"has_intraday": true,
								"has_weekly_and_monthly": true,
								"has_no_volume": false, //布尔表示商品是否拥有成交量数据。
								'session': '24x7',
								'supported_resolutions': ['1', '3', '5', '15', '30', '60', '120', '240', '360', '720', '1D', '3D', '1W',
									'1M'
								]

							});
						})
					};


					//初始化数据
					Datafeed.Container.prototype.getBars = function (symbolInfo, resolution, rangeStartDate, rangeEndDate,
						onHistoryCallback, onErrorCallback) {
						// if (rangeStartDate > 0 && (rangeStartDate + '').length > 10) {
						//   throw new Error(['Got a JS time instead of Unix one.', rangeStartDate, rangeEndDate]);
						// }

						if (resolution.indexOf('D') == -1 && resolution.indexOf('W') == -1 && resolution.indexOf('M') == -1) {
							resolution = resolution + 'min'
						} else if (resolution.indexOf('W') != -1 || resolution.indexOf('M') != -1) {
							resolution = resolution
						}
						console.log(rangeStartDate);
						console.log(rangeEndDate)
						console.log(resolution);
						console.log(symbolInfo.name) 
						$.ajax({
							url: 'http://www.bl123789.com/api/market/kline?' +'from=' + rangeStartDate + '&to=' + rangeEndDate + '&symbol=' + symbolInfo.name + '&period=' + resolution,
							type: 'get',
							success: function (res) {
								// console.log(JSON.stringify(res));
								
								if (res.code == 1 && res.data && res.data.length > 0) {
									res.data.forEach((item, i) => {
										console.log(JSON.stringify(item))
										item.open = Number(item.open)
										item.close = Number(item.close)
										item.high = Number(item.high)
										item.low = Number(item.low)
										// if (item.period == '1day') {
												// alert(1);
											console.log(123);
											this_vue.newprice = item.close-0
											this_vue.maxprice = item.high-0
											this_vue.minprice = item.low-0
											// console.log(item.period);
											this_vue.dayvom = Number(item.vol).toFixed(4);
											this_vue.updown = ((item.close-item.open)/(item.close-0)*100).toString();
										// }
									})
									onHistoryCallback(res.data, {
										noData: false
									})
									onHistoryCallback([], {
										noData: true
									})
								}
								if (!res.data || res.code == -1) {
									onHistoryCallback([], {
										noData: true
									})
								}
								if (res.data && res.data.length == 0) {
									onHistoryCallback([], {
										noData: true
									})
								}

							}
						})

					};
					//实时数据
					Datafeed.Container.prototype.subscribeBars = function (symbolInfo, resolution, onRealtimeCallback, listenerGUID,
						onResetCacheNeededCallback) {
						this_vue.connect(onRealtimeCallback)

						//this._barsPulseUpdater.subscribeDataListener(symbolInfo, resolution, onRealtimeCallback, listenerGUID, onResetCacheNeededCallback);
					};

					Datafeed.Container.prototype.unsubscribeBars = function (listenerGUID) {

						this._barsPulseUpdater.unsubscribeDataListener(listenerGUID);

					};

					return new Datafeed.Container;
				},

				updateWidget(item) {
					this.symbolInfo = {
						name: item,
						ticker: item,
						description: "",
						session: "24x7",
						supported_resolutions: ['1', '5', '30', '60', '240', '1D', '3D', '1W', '1M'],
						has_intraday: true,
						has_daily: true,
						has_weekly_and_monthly: true,
						timezone: "UTC",
					}

					this.removeWidget();
					this.createWidget();
				},
				removeWidget() {
					if (this.widget) {
						this.widget.remove();
						this.widget = null;
					}
				},
				overrides() {
					let style = {
						up: "#009f95",
						down: "#ff3e60",
						bg: "#fff",
						grid: "#f1f1f1",
						cross: "#666666",
						border: "#f1f1f1",
						borders:'#4a77ae',
						text: "#999",
						// areatop: "rgba(122, 152, 247, 1)",
						// areadown: "rgba(122, 152, 247, 0.5)"
						areatop: "#eff9fa",
						areadown: "#e5ebf4"
					};
					return {
						'volumePaneSize': "small", //large, medium, small, tiny
						'paneProperties.topMargin': '20',
						"scalesProperties.lineColor": style.bg,
						"scalesProperties.textColor": style.text,
						"paneProperties.background": style.bg, //改变背景色的重要代码
						"paneProperties.vertGridProperties.color": style.grid,
						"paneProperties.horzGridProperties.color": style.grid,
						"paneProperties.crossHairProperties.color": style.cross,
						"paneProperties.legendProperties.showLegend": true,
						"paneProperties.legendProperties.showStudyArguments": true,
						"paneProperties.legendProperties.showStudyTitles": true,
						"paneProperties.legendProperties.showStudyValues": true,
						"paneProperties.legendProperties.showSeriesTitle": true,
						"paneProperties.legendProperties.showSeriesOHLC": true,
						"mainSeriesProperties.candleStyle.upColor": style.up,
						"mainSeriesProperties.candleStyle.downColor": style.down,
						"mainSeriesProperties.candleStyle.drawWick": true,
						"mainSeriesProperties.candleStyle.drawBorder": true,
						"mainSeriesProperties.candleStyle.borderColor": style.border,
						"mainSeriesProperties.candleStyle.borderUpColor": style.up,
						"mainSeriesProperties.candleStyle.borderDownColor": style.down,
						"mainSeriesProperties.candleStyle.wickUpColor": style.up,
						"mainSeriesProperties.candleStyle.wickDownColor": style.down,
						"mainSeriesProperties.candleStyle.barColorsOnPrevClose": false,
						"mainSeriesProperties.hollowCandleStyle.upColor": style.up,
						"mainSeriesProperties.hollowCandleStyle.downColor": style.down,

						"mainSeriesProperties.hollowCandleStyle.drawWick": true,
						"mainSeriesProperties.hollowCandleStyle.drawBorder": true,
						"mainSeriesProperties.hollowCandleStyle.borderColor": style.border,
						"mainSeriesProperties.hollowCandleStyle.borderUpColor": style.up,
						"mainSeriesProperties.hollowCandleStyle.borderDownColor": style.down,
						"mainSeriesProperties.hollowCandleStyle.wickColor": style.line,
						"mainSeriesProperties.haStyle.upColor": style.up,
						"mainSeriesProperties.haStyle.downColor": style.down,
						"mainSeriesProperties.haStyle.drawWick": true,
						"mainSeriesProperties.haStyle.drawBorder": true,
						"mainSeriesProperties.haStyle.borderColor": style.border,
						"mainSeriesProperties.haStyle.borderUpColor": style.up,
						"mainSeriesProperties.haStyle.borderDownColor": style.down,
						"mainSeriesProperties.haStyle.wickColor": style.border,
						"mainSeriesProperties.haStyle.barColorsOnPrevClose": false,
						"mainSeriesProperties.barStyle.upColor": style.up,
						"mainSeriesProperties.barStyle.downColor": style.down,
						"mainSeriesProperties.barStyle.barColorsOnPrevClose": false,
						"mainSeriesProperties.barStyle.dontDrawOpen": false,
						"mainSeriesProperties.lineStyle.color": style.border,
						"mainSeriesProperties.lineStyle.linewidth": 1,
						"mainSeriesProperties.lineStyle.priceSource": "close",
						"mainSeriesProperties.areaStyle.color1": style.areatop,
						"mainSeriesProperties.areaStyle.color2": style.areadown,
						"mainSeriesProperties.areaStyle.linecolor": style.borders,
						"mainSeriesProperties.areaStyle.linewidth": 1,
						"mainSeriesProperties.areaStyle.priceSource": "close"
					}
				},


				chose() {
					this.widget.setLanguage('en') //设置语言
				}
			},
		})
		// });
	</script>
</body>

</html>